body
  background #FAFAFA

.container
  padding 50px 0

.flex-center
  display flex !important
  justify-content center

.mdl-navigation a:hover
  opacity .7

.input-fields
  display flex
  justify-content center
  padding 10px 0

.input-fields .mdl-checkbox
  width auto !important

.input-fields .mdl-radio
  margin 0 10px

.loader-wrap
  position absolute
  top 50%
  left 50%
  transform: translate(-50%, -50%)
  z-index 999

.result-wrap2
  position absolute
  top 50%
  left 50%
  transform: translate(-50%, -50%)
  z-index 999
  display flex
  justify-content center
  width 70%

.card-result.mdl-card
  width 100%

.card-result .mdl-card__supporting-text
  width 95%

.card-result .mdl-data-table
  width 100%